<!DOCTYPE html>
<html lang="en">

<head>
    <title> <%=  title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        #main {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            margin: 0 auto;
            max-width: 40rem;
        }

        #nav {
            display: flex;
            margin: 1rem;
            font-size: 2rem;
            padding: 0.5rem 2rem;
            background-color: #efe5d9;
            border-radius: 9999px;
        }

        #nav>a {
            font-style: bold;
            margin-right: 0.5rem;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav id="nav">
        <a alt="home" href="/"><%= website_name %></a>
        <div style="flex-grow: 1;"></div>
        <a alt="slipbox" href="/slipbox.md">🗂</a>
    </nav>
    <div id="main">
        <%= content %>
    </div>
</body>

</html>
